.wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 0.5rem;
  max-width: 750px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.profile-picture img {
  max-width: 250px;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.descriptions {
}
