{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="wrapper">
      <div class="profile-picture">
        <img
          src="https://scontent.fcgk18-2.fna.fbcdn.net/v/t1.0-9/19420803_1701370099891532_2830396182202244264_n.jpg?_nc_cat=104&_nc_ht=scontent.fcgk18-2.fna&oh=354f40661edf65d71f30fe9bf41365dc&oe=5CB2FE4D"
          alt=""
        />
      </div>
      <div class="descriptions">
        <h1>Hello my name is Saul Andre Lumban Gaol</h1>
        <p>Riwayat Pendidikan</p>
        <ul>
          <li>SDN 06 Kalisari</li>
          <li>SMPN 103 Jakarta</li>
          <li>SMAN 39 Jakarta</li>
        </ul>
      </div>
    </div>
  </body>
</html>
